<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="jsEngineSwitcher">
      <section name="core" type="JavaScriptEngineSwitcher.Core.Configuration.CoreConfiguration, JavaScriptEngineSwitcher.Core" />
      <section name="msie" type="JavaScriptEngineSwitcher.Msie.Configuration.MsieConfiguration, JavaScriptEngineSwitcher.Msie" />
    </sectionGroup>
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
      <section name="less" type="BundleTransformer.Less.Configuration.LessSettings, BundleTransformer.Less" />
    </sectionGroup>
    <sectionGroup name="swimConfigs">
      <section name="machineConfig" type="SWIM.Shared.UI.Helpers.MachineSpecificConfiguration, SWIM.Shared.UI, Version=1.0.0.0, Culture=neutral" />

    </sectionGroup>
  </configSections>
  <swimConfigs>
    <machineConfig>
      <MachineConfigList>
        <MachineConfigs>
          <MachineConfig>
            <IsDefault>true</IsDefault>
            <LoggingFileName>SWIM.Web.Gui.log</LoggingFileName>
            <!-- This may be found at C:\Program Files (x86)\IIS Express when run from studio -->
            <Logginglevel>warn</Logginglevel>
            <LoggingResetFilePeriod>01:00:00:00</LoggingResetFilePeriod>
            <LoggingFileNameStampFormat>yyyyMMdd</LoggingFileNameStampFormat>
          </MachineConfig>
          <MachineConfig>
            <MachineName>candc-52py85j</MachineName>
            <AutoLoginEmail>dsut16@candc-uk.com</AutoLoginEmail>
            <AutoLoginPassword>admin</AutoLoginPassword>
            <AutoLoginController>Search</AutoLoginController>
            <AutoLoginAction>Index</AutoLoginAction>
            <LoggingFileName>D:\Projects\SWIM\SWIM.Working\Logging\SWIM.Web.Gui.log</LoggingFileName>
            <Logginglevel>warn</Logginglevel>
            <LoggingResetFilePeriod>01:00:00:00</LoggingResetFilePeriod>
            <LoggingFileNameStampFormat>yyyyMMdd</LoggingFileNameStampFormat>
            <AsposeLicenseFile>D:\Projects\SWIM\SWIM.Trunk\Technical\SWIM\SourceCode\Referenced DLLs\Aspose\Aspose.Total.lic</AsposeLicenseFile>
          </MachineConfig>
          <MachineConfig>
            <MachineName>CANDC-2WYLL82</MachineName>
            <LoggingFileName>D:\Logs\SWIM\SWIM.Web.Gui.log</LoggingFileName>
            <Logginglevel>warn</Logginglevel>
            <LoggingResetFilePeriod>01:00:00:00</LoggingResetFilePeriod>
            <LoggingFileNameStampFormat>yyyyMMdd</LoggingFileNameStampFormat>
            <AsposeLicenseFile>D:\ItsAllInHere\Projects\SWIM\Technical\SWIM\SourceCode\Referenced DLLs\Aspose\Aspose.Total.lic</AsposeLicenseFile>
          </MachineConfig>
          <MachineConfig>
            <MachineName>CANDC-GT07G32</MachineName>
            <LoggingFileName>D:\Projects\SWIM\SWIM.Working\Logging\SWIM.Web.Gui.log</LoggingFileName>
            <Logginglevel>warn</Logginglevel>
            <LoggingResetFilePeriod>01:00:00:00</LoggingResetFilePeriod>
            <LoggingFileNameStampFormat>yyyyMMdd</LoggingFileNameStampFormat>
            <AsposeLicenseFile>D:\SVNWorkingFolder\SWIM\Technical\SWIM\SourceCode\Referenced DLLs\Aspose\Aspose.Total.lic</AsposeLicenseFile>
          </MachineConfig>
          <MachineConfig>
            <MachineName>CANDC-3C7T6Z1</MachineName>
            <AutoLoginEmail>DSUT001@candc-uk.com</AutoLoginEmail>
            <AutoLoginPassword>admin</AutoLoginPassword>
            <AutoLoginController>Search</AutoLoginController>
            <AutoLoginAction>Index</AutoLoginAction>
            <LoggingFileName>D:\temp\Dump\Logging\SWIM.Web.Gui.log</LoggingFileName>
            <Logginglevel>warn</Logginglevel>
            <LoggingResetFilePeriod>01:00:00:00</LoggingResetFilePeriod>
            <LoggingFileNameStampFormat>yyyyMMdd</LoggingFileNameStampFormat>
            <AsposeLicenseFile>D:\Projects\SWIM\SWIM.Trunk\Technical\SWIM\SourceCode\Referenced DLLs\Aspose\Aspose.Total.lic</AsposeLicenseFile>
          </MachineConfig>
          <MachineConfig>
            <MachineName>candc-cprlfy1</MachineName>
            <AutoLoginEmail>admin@candc-uk.com</AutoLoginEmail>
            <AutoLoginPassword>admin</AutoLoginPassword>
            <AutoLoginController>Search</AutoLoginController>
            <AutoLoginAction>Index</AutoLoginAction>
            <LoggingFileName>D:\Projects\SWIM.Web.Gui.log</LoggingFileName>
            <Logginglevel>debug</Logginglevel>
            <LoggingResetFilePeriod>01:00:00:00</LoggingResetFilePeriod>
            <LoggingFileNameStampFormat>yyyyMMdd</LoggingFileNameStampFormat>
          </MachineConfig>
          <MachineConfig>
            <MachineName>CANDC-GX28WC2</MachineName>
            <!--<AutoLoginEmail>MCUT13.Admin@candc-uk.com</AutoLoginEmail>
            <AutoLoginPassword>admin</AutoLoginPassword>
            <AutoLoginController>JeopardyManagement</AutoLoginController>
            <AutoLoginAction>Index</AutoLoginAction>-->
            <LoggingFileName>D:\My\Log\SWIM\SWIM.Web.Gui.log</LoggingFileName>
            <Logginglevel>warn</Logginglevel>
            <LoggingResetFilePeriod>01:00:00:00</LoggingResetFilePeriod>
            <LoggingFileNameStampFormat>yyyyMMdd</LoggingFileNameStampFormat>
            <AsposeLicenseFile>D:\My\SVN\SWIM\Technical\SWIM\SourceCode\Referenced DLLs\Aspose\Aspose.Total.lic</AsposeLicenseFile>
          </MachineConfig>
          <MachineConfig>
            <MachineName>candc-8f3gz72</MachineName>
            <!--<AutoLoginEmail>CKUT01@candc-uk.com</AutoLoginEmail>-->
            <!--<AutoLoginEmail>admin@candc-uk.com</AutoLoginEmail>-->
            <AutoLoginEmail>DSUT13@candc-uk.com</AutoLoginEmail>
            <AutoLoginPassword>admin</AutoLoginPassword>
            <AutoLoginController>Search</AutoLoginController>
            <AutoLoginAction>Index</AutoLoginAction>
            <LoggingFileName>D:\Projects\SWIM\working\Logging\SWIM.Web.Gui.log</LoggingFileName>
            <Logginglevel>warn</Logginglevel>
            <LoggingResetFilePeriod>01:00:00:00</LoggingResetFilePeriod>
            <LoggingFileNameStampFormat>yyyyMMdd</LoggingFileNameStampFormat>
          </MachineConfig>
          <MachineConfig>
            <MachineName>CANDC-F4V5HW1</MachineName>
            <LoggingFileName>D:\LOGS\SWIM\SWIM.WebUI.log</LoggingFileName>
            <Logginglevel>debug</Logginglevel>
            <LoggingResetFilePeriod>01:00:00:00</LoggingResetFilePeriod>
            <LoggingFileNameStampFormat>yyyyMMdd</LoggingFileNameStampFormat>
            <AsposeLicenseFile>D:\SourceControl\SWIM\Technical\SWIM\SourceCode\Referenced DLLs\Aspose\Aspose.Total.lic</AsposeLicenseFile>
          </MachineConfig>

        </MachineConfigs>
      </MachineConfigList>
    </machineConfig>
  </swimConfigs>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowerLink" value="false" />
    <add key="Debug.UseVolatileLayer" value="false" />
    <!--These are required for the framework. Not all databases need to be used or exist.-->
    <add key="SEC" value="SWIM_SEC" />
    <add key="ODS" value="SWIM_ODS" />
    <add key="CTL" value="SWIM_CTL" />
    <add key="DDS" value="SWIM_DDS" />
    <add key="AUDIT" value="SWIM_AUDIT" />
    <add key="LOG" value="SWIM_LOG" />
    <add key="STG" value="SWIM_STG" />
    <!--end framework database -->


    <!-- password management -->
    <add key="PasswordRegex" value="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{8,100}$" />
    <add key="PasswordStrengthMessage" value="Password must have at least one uppercase letter, one lowercase letter, and one number, and be between 8 and 100 characters in length." />
    <!--
      <add key="SmtpHost" value="80.87.0.52" />
      <add key="SmtpHost" value="127.0.0.1" />
      -->
    <add key="SmtpUserName" value="smtpuser@candc-uk.com" />
    <add key="SmtpPassword" value="smtpuserpassword" />
    <add key="SmtpHost" value="127.0.0.1" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpDefaultSenderEmail" value="testing@candc-uk.com" />
    <add key="SmtpDefaultSenderDisplayName" value="Development Testing" />
    <add key="EmailUrl" value="http://localhost:57132/" />
  
    <add key="ResetPasswordGracePeriodMinutes" value="4320" />
    <!-- User verification -->
    <add key="SendVerificationEmail" value="true" />
    <add key="ApplicationId" value="0" />
    <add key="MdsBasePath" value="D:\temp\MDS\" />
        
    <add key="SwimPool.OwnerTradingParty" value="SVT.W"/>
    <add key="SwimPool.OwnerEmailUrl" value="http://localhost:57132/" />
    <add key="SwimPool.MarketOperator" value="POOL" />
    <add key="SwimPool.MaxUploadedFileByteSize" value="52428800" /> <!--// 50 MB-->
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />

    <add key="APILoginCreateUser" value="Y"/>
    <add key="APILoginPrefix" value="api@"/>
    <add key="APILoginSuffix" value=".login"/>
    <add key="APILoginSystemUserId" value="-100"/>
    <add key="APILoginApplicationId" value="0"/>
    <add key="APILoginRolePrefix" value="API "/>
    <add key="APILoginRoleSufffix" value=" Login"/>
    <add key="APILoginRolePrivileges" value="PoolProcessList|PoolProcesDetails|PoolProcesTimeline"/>
    <add key="APILoginRoleProcessAccessRights" value="A6.R|B1.R|B11.R|B3.W"/>
  </appSettings>
  <connectionStrings>
    <!--SIT TEST - RETAILER (POOLSIT.R1) -->
    <!--<add name="SWIM.ODS" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=SWIM_ODS;Data Source=.\SWIM_SIT2" providerName="System.Data.SqlClient" />-->
    <!--SIT TEST - WHOLESALER (POOLSIT.W1) -->
    <!--<add name="SWIM.ODS" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=SWIM_ODS;Data Source=.\SWIM_SIT" providerName="System.Data.SqlClient" />-->
	  <add name="SWIM.ODS.SIT" connectionString="Data Source=CANDC-SWIM02\SWIM_SIT;Initial Catalog=SWIM_ODS;UID=swim_development_webui;PWD=swimDev123$" providerName="System.Data.SqlClient" />
	  <add name="SWIM.ODS.PM" connectionString="Data Source=CANDC-GT07G32\SQL2012;Initial Catalog=SWIM_ODS;UID=swim_development_webui;PWD=swimDev123$" providerName="System.Data.SqlClient" />
    <!--Swim Ware DEV -->
    <add name="SWIM.ODS" connectionString="Data Source=CANDC-SWIM01\SWIM_EXPR;Initial Catalog=SWIM_ODS;UID=swim_development_webui;PWD=swimDev123$" providerName="System.Data.SqlClient" />
    <!--Alistair-->
    <add name="SWIM.ODS.AF" connectionString="Data Source=CANDC-8F3GZ72\SQL2012;Initial Catalog=SWIM_ODS;UID=swim_development_webui;PWD=swimDev123$" providerName="System.Data.SqlClient" />
    <!--Marcin-->
    <add name="SWIM.ODS.MP" connectionString="Data Source=CANDC-44CXF82\SQL2012;Initial Catalog=SWIM_ODS;UID=swim_development_webui;PWD=swimDev123$" providerName="System.Data.SqlClient" />
    <!--Gustavo-->
    <add name="SWIM.ODS.GR" connectionString="Data Source=CANDC-D7V5HW1\SQL2012;Initial Catalog=SWIM_ODS;UID=swim_development_webui;PWD=swimDev123$" providerName="System.Data.SqlClient" />
    <!--Quintin-->
    <add name="SWIM.ODS.QDB" connectionString="Data Source=CANDC-F4V5HW1\SQL2012;Initial Catalog=SWIM_ODS;UID=swim_development_webui;PWD=swimDev123$" providerName="System.Data.SqlClient" />
    <!--Jim-->
    <add name="SWIM.ODS.JG" connectionString="Data Source=CANDC-2WYLL82\SQL2012;Initial Catalog=SWIM_ODS;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SWIM.ODS.JG.SIT" connectionString="Data Source=CANDC-SWIM02\SWIM_SIT;Initial Catalog=SWIM_ODS;UID=candc01;PWD=Big89apple" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"  />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms slidingExpiration="true" timeout="20" loginUrl="~/" name="Swim"></forms>
    </authentication>
    <!--<authentication mode="Windows" />-->
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <less>
      <jsEngine name="MsieJsEngine" />
    </less>

    <core>
      <css>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
          <add name="LessTranslator" type="BundleTransformer.Less.Translators.LessTranslator, BundleTransformer.Less" />
        </translators>
        <postProcessors>
          <add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="false" />
        </postProcessors>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".css" assetTypeCode="Css" />
          <add fileExtension=".less" assetTypeCode="Less" />
        </fileExtensions>
      </css>
      <js>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript" />
        </fileExtensions>
      </js>
    </core>
  </bundleTransformer>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Authorization, Content-Type" />
      </customHeaders>
    </httpProtocol>
    
    <httpErrors errorMode="Custom">
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="403" path="/NoAccess" responseMode="Redirect" />
    </httpErrors>
    
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="LessAssetHandler" path="*.less" verb="GET" type="BundleTransformer.Less.HttpHandlers.LessAssetHandler, BundleTransformer.Less" resourceType="File" preCondition="" />
    </handlers>
    
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
      <mimeMap fileExtension="ttf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".less" mimeType="text/css" />
    </staticContent>
    
  </system.webServer>
  
  <jsEngineSwitcher xmlns="http://tempuri.org/JavaScriptEngineSwitcher.Configuration.xsd">
    <core>
      <engines>
        <add name="MsieJsEngine" type="JavaScriptEngineSwitcher.Msie.MsieJsEngine, JavaScriptEngineSwitcher.Msie" />
      </engines>
    </core>
  </jsEngineSwitcher>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISudsApi" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/SWIM.SUDS.API.Service/SudsApi.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISudsApi"
          contract="Suds.ISudsApi" name="BasicHttpBinding_ISudsApi" />
    </client>
  </system.serviceModel>

  <location path="Pool/Process/UploadFile">
    <system.web>
       <!--50MB in kilobytes, default is 4096 or 4MB-->
      <httpRuntime maxRequestLength="51200" executionTimeout="3600"/>
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
           <!--50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>